save-exact=true

# Assim as versões das bibliotecas instaladas no projeto serão salvas exatamente na versão q baixei
# no próximo npm install a versão será fixa.

# por que? Para que seja mais fácil manter atualizadas quando a gente por o projeto no ar. 
# quando temos as versões exatas podemos usar bots do github (renovatebot) ou gitlab para tentar atualizar nosso projeto. Ele sobe a versão e roda os testes do projeto.
# se passarem, ele cria uma PR para atualizar, se falhar, ele avisa qual teste falhou para poder fazer os ajustes com a documentação